<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ecommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" routerLink="/product/1">Product detail 1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/category">Categories <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item dropdown">
          <div class="btn-group" dropdown [autoClose]="false" container="body">
              <button id="button-nested" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-nested">
              Products <span class="caret"></span>
              </button>
              <ul id="dropdown-nested" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-nested">
                  <app-product-dropdown-item *ngFor="let cat of categories" role="menuitem" [category]="cat"></app-product-dropdown-item>
              </ul>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin panel</a>
      </li>
    </ul>
    <div class="input-group mx-auto col-4">
        <input class="form-control" type="text" placeholder="set local API address" #apiUrl>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="setUrl(apiUrl.value)">Setup</button>
        </div>
      </div>
    <div class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search" (keyup.enter)="redirectToSearch($event.target.value)">
    </div>
  </div>
</nav>