<li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
    <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="redirectToCategory(category.id)">
      {{ category.name }}
      <span class="caret"></span>
    </a>
    <ng-container *ngIf="category.subCategories?.length > 0">
        <ul *dropdownMenu class="dropdown-menu" role="menu">
            <app-product-dropdown-item *ngFor="let cat of category.subCategories" role="menuitem" [category]="cat"></app-product-dropdown-item>
        </ul>
    </ng-container>
</li>